<template>
	<div class="hello">
		<h1>{{ msg }}</h1>
		<br />
		<router-link to="main">Portfolio Dashboard</router-link><br />
		<router-link to="dashboard">Fund Overview</router-link><br />
		<router-link to="existing">TB-vue main app</router-link>
	</div>
</template>

<script>
export default {
	name: "HelloWorld",
	props: {
		msg: String,
	},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
	margin: 40px 0 0;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	display: inline-block;
	margin: 0 10px;
}
a {
	color: #42b983;
}
</style>
