<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<link rel="icon" href="<%= BASE_URL %>favicon.ico" />
	<title><%= htmlWebpackPlugin.options.title %></title>
	<script type="systemjs-importmap">
			{
				"imports": {
					"dashboard": "http://localhost:4202/main.js",
					"single-spa": "https://cdnjs.cloudflare.com/ajax/libs/single-spa/4.3.5/system/single-spa.min.js"
				}
			}
		</script>
	<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/single-spa/4.3.5/system/single-spa.min.js"
		as="script" crossorigin="anonymous" />
	<script src="https://unpkg.com/core-js-bundle@3.1.4/minified.js"></script>
	<script src="https://unpkg.com/zone.js"></script>
	<script src="https://unpkg.com/import-map-overrides@1.6.0/dist/import-map-overrides.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/system.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/extras/amd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/extras/named-exports.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/4.0.0/extras/named-register.min.js"></script>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
	<!-- <noscript>
			<strong
				>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
				properly without JavaScript enabled. Please enable it to continue.</strong
			>
		</noscript> -->
	<table>
		<tr>
			<td>
				<div id="app"></div>
			</td>
			<td>
				<div id="single-spa-application:dashboard"></div>
			</td>
		</tr>
	</table>

	<div id="app"></div>
	<!-- built files will be auto injected -->
	<script>
		System.import("single-spa").then(function (singleSpa) {
			///"vueApp": "http://localhost:8080",
			// singleSpa.registerApplication(
			// 	"vueApp",
			// 	function() {
			// 		return System.import("vueApp");
			// 	},
			// 	function(location) {
			// 		// return location.pathname.startsWith('/app2');
			// 		return true;
			// 	},
			// );
			singleSpa.registerApplication(
				"dashboard",
				function () {
					return System.import("dashboard");
				},
				function (location) {
					// return location.pathname.startsWith('/app2');
					return true;
				},
			);

			singleSpa.start();
		});
	</script>
	<br />
	<!-- <div id="single-spa-application:dashboard"></div> -->
	<!-- <import-map-overrides-full></import-map-overrides-full> -->
</body>

</html>